@keyframes fade-in {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes pop-open {
    50% {
        transform: scaleY(1) translate(50%, 0);
    }

    100% {
        transform: scaleY(1) translate(0%, 0);
    }
}

@keyframes background-pan {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -200% 0;
    }
}

@keyframes sparkle {

    from,
    to {
        scale: 0;
    }

    50% {
        scale: 1;
    }
}

@keyframes spin {
    to {
        rotate: 180deg;
    }
}

@keyframes pop-up {
    to {
        transform: translate(0, 0%);
    }
}

@keyframes pop-out {
    50% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes spin-3d {
    from {
        transform: rotateX(-20deg) rotateY(0deg);
    }

    to {
        transform: rotateX(-20deg) rotateY(360deg);
    }
}

@keyframes sparkle {

    from,
    to {
        scale: 0;
    }

    50% {
        scale: 1;
    }
}

@keyframes left-right {

    from,
    to {
        left: 0;
        transform: translate(0, 0);
    }

    50% {
        left: 100%;
        transform: translate(-100%, 0);
    }
}

@keyframes mask-pan {
    to {
        background-position: 100% 0;
    }
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }

    header h1 {
        transform: scaleY(0) translate(50%, 0);
    }

    header .animated h1 {
        animation: pop-open 1s forwards;
    }

    header p {
        opacity: 0;
        transform: translate(0, 5px);
    }

    header .animated p {
        animation: fade-in 0.5s 1.5s forwards;
    }

    h1 .sparkly-word {
        transform: translate(-100%, 0);
    }

    .animated h1 .sparkly-word {
        animation: pop-out 1s forwards, background-pan 2s linear infinite;
    }

    .social-media a {
        transform: translate(0, 120%);
    }

    .animated .social-media a {
        animation: pop-up 0.2s calc(1s + var(--i) * 0.1s) forwards;
    }

    section p,
    input,
    textarea,
    button[type="submit"] {
        --i: 0;
        opacity: 0;
        transform: translate(0, 10px);
        transition: opacity 0.3s, transform 0.4s;
        transition-delay: calc(var(--i) * 0.2s);
    }

    section .animated p,
    .animated input,
    .animated textarea,
    .animated button[type="submit"] {
        opacity: 1;
        transform: translate(0, 0);
    }

    section a:after {
        width: 1em;
        animation: left-right 2s ease infinite;
    }

    .project-card img {
        opacity: 0;
        transform: translate(0%, 17%);
        transition: transform .75s, opacity .5s;
    }


    .animated.project-card img {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    /* section a:before {
        position: absolute;
        display: block;
        width: 1em;
        height: 1px;
        top: 0;
        left: 0;
        background-color: white;
        content: "";
        animation: left-right 2s ease 1s infinite;
    } */

    /* .project-card:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("Assets/paint-mask.png");
        background-size: auto 100%;
        background-position: 0% 0;
        pointer-events: none;
    }


    .animated.project-card:after {
        animation: mask-pan .75s steps(62) forwards;
    }

    .animated.project-card:nth-child(odd):after {
        animation-delay: .2s;
    } */

    .banner {
        transition: transform .2s, opacity .2s;
        position: sticky;
    }

}