@keyframes fade-in {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes pop-open {
    50% {
        transform: scaleY(1) translate(50%, 0);
    }

    100% {
        transform: scaleY(1) translate(0%, 0);
    }
}

@keyframes background-pan {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -200% 0;
    }
}

@keyframes sparkle {

    from,
    to {
        scale: 0;
    }

    50% {
        scale: 1;
    }
}

@keyframes spin {
    to {
        rotate: 180deg;
    }
}

@keyframes pop-up {
    to {
        transform: translate(0, 0%);
    }
}

@keyframes pop-out {
    50% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes spin-3d {
    from {
        transform: rotateX(-20deg) rotateY(0deg);
    }

    to {
        transform: rotateX(-20deg) rotateY(360deg);
    }
}

@keyframes sparkle {

    from,
    to {
        scale: 0;
    }

    50% {
        scale: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
    header h1 {
        transform: scaleY(0) translate(50%, 0);
    }

    header .animated h1 {
        animation: pop-open 1s forwards;
    }

    header p {
        opacity: 0;
        transform: translate(0, 5px);
    }

    header .animated p {
        animation: fade-in 0.5s 1.5s forwards;
    }

    h1 .sparkly-word {
        transform: translate(-100%, 0);
    }

    .animated h1 .sparkly-word {
        animation: pop-out 1s forwards, background-pan 2s linear infinite;
    }

    .social-media a {
        transform: translate(0, 120%);
    }

    .animated .social-media a {
        animation: pop-up 0.2s calc(1s + var(--i) * 0.1s) forwards;
    }

    section p {
        --i: 0;
        opacity: 0;
        transform: translate(0, 10px);
        transition: 0.4s;
        transition-delay: calc(var(--i) * 0.2s);
    }

    section .animated p {
        opacity: 2;
        transform: translate(0, 0);
    }
}