* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--bg-main);
}

main {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-tertiary) var(--bg-secondary);
    /* scroll-snap-type: y proximity; */
}

main::-webkit-scrollbar {
    width: 2vmin;
}

main::-webkit-scrollbar-thumb {
    background-color: var(--bg-tertiary);
}

main::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
}

main * {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-tertiary) transparent;
}

main *::-webkit-scrollbar {
    width: 2vmin;
}

main *::-webkit-scrollbar-thumb {
    background-color: var(--bg-tertiary);
}

main *::-webkit-scrollbar-track {
    background-color: transparent;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    /* padding: 10px; */
    align-items: flex-start;
    color: var(--text-main);
    /* z-index: var(--nav-z); */
    position: relative;
    transform-style: preserve-3d;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.812);
    font-size: 4vmin;
    /* overflow: hidden; */
}

header h1 {
    margin: 0;
    font-weight: 200;
    font-size: 6.47em;
    text-align: left;
    font-family: monospace;
}

/* header h1:hover {
    
} */


.header-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(calc(-20px + 20px * var(--layer) / var(--layers))) scale(calc(2 - var(--layer)/var(--layers)));
    z-index: -1;
    user-select: none;
    backdrop-filter: blur(calc((var(--layer) - var(--layers) + 1) * (var(--layer) - var(--layers) + 1) * 0.2vmin));
}

.title-texts>div {
    text-align: right;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-texts p {
    font-size: 1em;
    font-weight: 200;
}

.title-texts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
}

.animated-text {
    margin: 2px;
    display: block;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    color: var(--text-secondary);
    font-size: 1.618em;
}

.animated-text:after {
    content: "|";
}

nav,
aside {
    background-color: var(--bg-main);
    z-index: var(--nav-z);
    position: sticky;
    top: 0;
    height: fit-content;
    max-height: 90vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-secondary) transparent;
}

nav::-webkit-scrollbar,
aside::-webkit-scrollbar {
    width: 2vmin;
}

nav::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb {
    background-color: var(--bg-secondary);
}

nav::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track {
    background-color: transparent;
}

nav {
    /* align-items: flex-start; */
    grid-area: nav;
}

aside {
    /* align-items: flex-end; */
    grid-area: aside;
}

nav ul,
aside ul {
    list-style-type: none;
    max-width: 200px;
    text-align: left;
    width: fit-content;
    font-size: 0.8rem;
}

aside hr {
    opacity: 0.2;
}

section {
    max-width: var(--max-w);
    margin: 0 auto;
    min-height: 100vh;
    text-align: justify;
    background-color: var(--bg-main);
    padding: 10px;
    scroll-snap-align: start;
}

section h2 {
    position: sticky;
    top: 0;
    background-color: var(--bg-main);
    background-image: linear-gradient(to right, var(--bg-main), var(--bg-secondary) calc(var(--scroll-amount) * 100%), var(--bg-main) calc(var(--scroll-amount) * 100%));
    border-bottom: 1px solid var(--bg-secondary);
    z-index: var(--nav-z);
    padding: 5px;
}


.body-wrapper {
    color: var(--text-main);
    background-color: var(--bg-main);
    display: grid;
    grid-template-columns: 200px minmax(200px, var(--max-w)) 200px;
    grid-template-areas: "aside content nav";
    justify-content: center;
    padding-top: 20px;
    transform: translateZ(0);
}

/* .transition{
    grid-area: transition;
    z-index: var(--nav-z);
    background-color: var(--bg-main);
    height: 50vh;
} */
.content {
    position: relative;
    background-color: var(--bg-main);
    z-index: var(--nav-z);
    grid-area: content;
}

a {
    display: inline-block;
    color: var(--text-link);
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
}

a:hover {
    color: var(--text-link-hovered);
}

a:after {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--text-link-hovered);
    content: "";
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform .25s;
}

a:hover:after {
    transform: scaleX(1);
}

nav a,
aside a {
    padding-left: 0;
    transition: padding .2s;
    transition-timing-function: var(--bounce);
    color: var(--text-main);
}

nav a:after,
aside a:after {
    display: none;
}

nav .active,
nav a:hover,
aside a:hover {
    padding-left: 1rem;
}

nav .active:before,
nav a:hover:before,
aside a:hover:before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 100%;
    background-color: var(--text-link);
    position: absolute;
    top: 0;
    left: 0;
}

nav a:hover:before,
aside a:hover:before {
    background-color: var(--text-link-hovered);
}

nav ul,
aside ul {
    width: 100%;
    box-sizing: border-box;
}

nav li:has(a:hover),
aside li:has(a:hover) {
    background-color: var(--bg-secondary);
}

@media screen and (max-width: 850px) {
    .body-wrapper {
        display: grid;
        grid-template-columns: minmax(200px, var(--max-w)) 200px;
        grid-template-areas: "aside aside" "content nav";
    }

    aside {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
    }

    /* nav a:hover:before{
        display: none;
    }
    nav .active::before{
        display: none;
    }
    nav a:hover, nav .active{
        padding-left: 0rem;
    } */

    aside ul {
        max-width: none;
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 10px 0 10px 0;
        box-sizing: border-box;
    }

    aside hr {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    nav {
        display: none;
    }

    .body-wrapper {
        display: block;
    }

    /* header {
        font-size: 2rem;
    } */
}

.scroll-container {
    --scroll-amount: 0;
}

.scroll-content {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    box-sizing: border-box;
}

#introduction {
    height: 100vh;
}

#introduction .scroll-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    perspective: 1000px;
    flex-direction: column;
}

.intro-heading {
    font-size: clamp(1rem, 4vmin, 3rem);
}

.intro-heading span {
    font-style: italic;
    color: transparent;
    background-image: linear-gradient(to right, magenta, cyan);
    background-clip: text;
    text-wrap: nowrap;
    text-shadow: none;
    font-weight: bolder;
    letter-spacing: calc(var(--scroll-amount) * 5px);
    transition: letter-spacing 0.2s;
    transition-delay: 0.2s;
    transition-timing-function: var(--bounce);
    overflow: visible;
}

.intro-body {
    background-image: radial-gradient(ellipse at 50% 0, var(--bg-tertiary), transparent 70%);
    margin: 16px;
}


.iframe-area {
    max-height: 70vh;
    height: 70vh;
    max-width: 90%;
    overflow: auto;
    margin: 10px auto;
    background-color: var(--bg-main);
    background-image: linear-gradient(135deg, var(--bg-main) 10%, var(--bg-secondary) 10% 40%, var(--bg-main) 40% 60%, var(--bg-secondary) 60% 90%, var(--bg-main) 90%);
    background-size: 10px 10px;
    background-repeat: repeat;
    background-attachment: fixed;
    display: grid;
    place-items: center;
}

.iframe-container {
    margin: 0 auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    transition: .3s;
    transition-timing-function: ease;
}

iframe {
    position: absolute;
    width: calc(400% - 8px);
    height: calc(400% - 8px);
    scale: 0.25;
    transform-origin: 0 0;
    /* pointer-events: none; */
    top: 1px;
    left: 1px;
    margin: 0;
    display: block;
    max-width: none;
    border: none;
    box-sizing: border-box;
    transition: .5s;
    transition-timing-function: ease;

}

.resize-button-container {
    text-align: center;
}

.resize-button {
    margin: 5px;
    border: 2px solid var(--text-link);
    color: var(--text-link);
    background: none;
    padding: 2px;
    border-radius: 2px;
    width: 100px;
    user-select: none;
}

.resize-button:hover {
    background-color: var(--text-link-hovered);
    color: var(--bg-main);
    cursor: pointer;
}

.url-container {
    text-align: center;
}

footer {
    background-image: url("/Assets/DoubleA logo glass square.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 80%;
    padding-bottom: 5px;
    box-sizing: border-box;
    text-shadow: 1px 1px 0px black,

        -1px 1px 0px black,

        1px -1px 0px black,

        -1px -1px 0px black;
}