summary {
    cursor: pointer;
}

main {
    max-width: var(--max-w);
    margin: 0 auto;
}

article {
    padding: var(--card-padding);
    background-color: var(--card-bg);
    border-radius: var(--radius);
    border: 1px solid var(--text-color);
}

#readme {
    margin-bottom: 1rem;
    /* display: none; */
}

#more-info>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    gap: 1rem;
}

@media screen and (max-width: 30ch) {
    #more-info>div {
        grid-template-columns: auto;
    }
}

#more-info a {
    display: inline-block;
    background-color: red;
    font-weight: bold;
    text-align: center;
    padding: var(--card-padding);
    color: white;
    border: 1px solid var(--text-color);
    border-radius: var(--radius);
    max-width: 100%;
}

#more-info a:after {
    content: none;
}

#more-info a:hover {
    transform: scale(1.05);
}

#more-info a:active {
    transform: scale(1);
}

img {
    border-radius: var(--radius);
    max-width: 100%;
}

summary:hover {
    background-color: var(--main-bg);
}